/*Google Font*/
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;700;800&display=swap");

/* font-family: 'Catamaran', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Basic CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
  background-color: rgb(0, 0, 0);
  color: #fff;
}
h1,
h2 {
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
}
.theme-button {
  display: inline-block;
  margin-top: 5px;
  border: 1px solid red;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
  font-weight: 700;
}
.theme-button:hover {
  font-size: 20px;
  color: red;
}
.heading h1 {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
}
.heading h1 span {
  color: red;
  font-size: 30px;
}
/* Header Area CSS */
.header-area {
  padding: 30px 0;
  position: relative;
  z-index: 4;
  align-items: center;
}
.header-area::after {
  position: absolute;
  content: "";
  border-radius: 0 0 50% 50%;
  background: rgb(36, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(36, 0, 0, 1) 6%,
    rgba(195, 75, 81, 1) 100%,
    rgba(255, 0, 0, 1) 100%
  );
  width: 310px;
  height: 310px;
  top: -180px;
  left: -50px;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.header-area::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  top: 31px;
  left: 35px;
  background-image: url(assets/img/logo.img);
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 3;
}
.header-area .header-logo {
  position: absolute;
}
.header-area .header-logo::after {
  position: relative;
  content: "Snehashish";
  font-weight: 700;
  font-size: 35px;
  color: #fff;
  top: 140px;
  left: 25px;
  z-index: 1;
}
.header-area .navbar {
  background-color: transparent;
}
.header-area .nav-item li {
  list-style: none;
}
.header-area .nav-item a {
  text-transform: capitalize;
  margin-left: 30px;
  color: #fff;
  padding: 20px;
  transition: 0.5s;
  font-weight: 700;
}
.header-area .nav-item a:hover {
  letter-spacing: 0.025cm;
  color: red;
  cursor: pointer;
}
.header-area .nav-item:last-child .nav-link {
  border-radius: 0 !important;
  background-color: transparent !important;
  border: 1px solid red;
  padding: 10px 20px;
  cursor: pointer;
  justify-content: center;
}
.header-area .nav-item:last-child .nav-link:hover {
  font-size: 20px;
  color: red;
}

/* Hero Area CSS */
.hero-area {
  padding: 100px 0;
}
.hero-area h1 {
  font-size: 30px;
  text-transform: capitalize;
}
.hero-area h1 span {
  color: red;
  font-size: 50px;
}
.hero-area h2 span {
  color: red;
}
.hero-area p {
  font-size: 20px;
}
.hero-image img {
  width: 100%;
}
/* About-Area CSS */
.skill-area {
  padding: 100px 0;
}
.skill-area p {
  font-size: 20px;
}
.progress-area {
  margin-bottom: 50px;
}
.single-progress-area {
  margin-top: 40px;
}
.single-progress-area .progress,
.progress-stacked {
  --bs-progress-height: 0.6rem;
  --bs-progress-font-size: 0.75rem;
}
/* Header-Area */
@media (max-width: 991px) {
  /* Header-area */
  .header-area .nav-item a {
    padding: 10px;
  }
  .header-area .nav-item a:hover {
    letter-spacing: 0.025cm;
  }
  .header-area .nav-item:last-child a:hover {
    font-size: 20px;
  }
  .header-area .nav-item:last-child {
    width: 50%;
    margin-top: 10px;
  }
  .header-area .navbar-toggler {
    margin-top: 40px;
    margin-right: 20px;
  }
  .header-area .navbar-nav {
    text-align: center;
    margin-top: 85px;
  }
  /* Hero Area*/
  .hero-area {
    padding: 80px 0;
    text-align: center;
  }
  .hero-area h1 {
    font-size: 20px;
  }
  .hero-area h1 span {
    font-size: 30px;
  }
  .hero-area p {
    font-size: 20px;
  }
  .hero-image img {
    margin-top: 20px;
  }
  /* Skill Area */
  .skill-area {
    padding: 80px 0;
  }
  .skill-area h1 {
    font-size: 20px;
  }
  .skill-area h1 span {
    font-size: 30px;
  }
  .skill-area p {
    font-size: 20px;
  }
  .progress-area {
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  /* Header-area */
  .header-area .navbar-toggler {
    margin-top: 80px;
    margin-right: 5px;
  }
  .header-area .navbar-nav {
    margin-top: 110px;
  }
  /* Hero Area*/
  .hero-area {
    padding: 60px 0;
    text-align: center;
  }
  .hero-area h1 {
    font-size: 20px;
  }
  .hero-area h1 span {
    font-size: 25px;
  }
  .hero-area p {
    font-size: 15px;
  }
  .hero-image img {
    margin-top: 20px;
  }
  /* Skill Area */
  .skill-area {
    padding: 20px 20px;
  }
  .skill-area h1 {
    font-size: 20px;
  }
  .skill-area h1 span {
    font-size: 30px;
  }
  .skill-area p {
    font-size: 20px;
  }
  .progress-area {
    margin-bottom: 20px;
  }
}
